[core]
	#editor = code --wait
	#editor = vim
	editor = {{ .editor }}
	autocrlf = true
[user]
	email = anders.heyniger@gmail.com
	name = Anders Heyniger
[color]
	ui = auto
[init]
	defaultBranch = main
