{
    "remote.SSH.remotePlatform": {
        "sunlab.cse.lehigh.edu": "linux"
    },
    "github.copilot.nextEditSuggestions.enabled": true,
    "github.copilot.enable": {
        "*": false,
        "plaintext": false,
        "markdown": false,
        "scminput": false,
        "cpp": true,
        "go": false,
        "python": false
    },
    "editor.tabSize": 4,
    "editor.detectIndentation": true,
    "[log]": {
        "editor.tabSize": 8
    },
    "[txt]": {
        "editor.tabSize": 8
    },
    "chat.viewSessions.orientation": "stacked",
    "workbench.colorTheme": "Dark+",
    "terminal.integrated.profiles.windows": {
        "PowerShell": {
            "source": "PowerShell",
            "icon": "terminal-powershell"
        },
        "Command Prompt": {
            "path": [
                "${env:windir}\\Sysnative\\cmd.exe",
                "${env:windir}\\System32\\cmd.exe"
            ],
            "args": [],
            "icon": "terminal-cmd"
        },
        "Git Bash": {
		"source": "Git Bash",
		"icon": "terminal-bash"
        }
    },
    "terminal.integrated.defaultProfile.windows": "Git Bash",
    "workbench.editor.wrapTabs": true,
    "terminal.integrated.scrollback": 2000,
    "files.eol": "\n"
}
